body {
    margin: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #000;

}

.website-grid {
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.website-grid>header {
    min-height: 80px;
    background-color: #ffffff;
    grid-column: 1 / 13;
    grid-row: 1 / 3;
}

header .logo img {
    max-height: 80px;

}


.side-nav ul {
    flex: 0 0 250px;
    width: 250px;
    position: sticky;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.side-nav a {

    text-decoration: none;
    font-size: 22px;
    color: #e4d9d9;
    display: block;

}

.side-nav a:hover {
    color: #6581a0;
}

.side-nav li {
    list-style: none;
    padding: 0;
    margin: 0;
}

.website-grid>aside {
    background-color: #ffffff;
    grid-column: 1 / 3;
    grid-row: 3 / 13;

}

.website-grid>main {
    min-width: 400px;
    background-color: #ffffff;
    grid-column: 3 / 13;
    grid-row: 3 / 13;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 400px));
    grid-auto-rows: minmax(200px, auto);
    grid-gap: 10px;
    justify-content: center;
    padding: 20px;
}

.card {
    background-color: #ffffff;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header>nav {
    min-width: 50%;
}

header>nav>ul {
    display: flex;
    justify-content: space-between;
    align-items: space-between;
    gap: 30px;
    margin-right: 10px;
    font: 20px sans-serif;
}

.card-title {
    font-size: 20px;
    text-align: center;
    margin: 20px;
    padding: 20px;
}



@media only screen and (max-width: 700px) {
    .website-grid>header {
        max-height: 80px;
        background-color: #ffffff;
        grid-column: 1 / 13;
        grid-row: 1 / 3;
    }

    .website-grid>aside {
        max-height: 80px;
        background-color: #ffffff;
        grid-column: 1 / 13;
        grid-row: 3 / 5;
        overflow: auto;
        white-space: nowrap;

    }

    .side-nav ul {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

    }

    .side-nav li {
        width: 77px;
    }

    .website-grid>main {
        min-width: 400px;
        background-color: #ffffff;
        grid-column: 1 / 13;
        grid-row: 5 / 13;
    }



}